# Visual Studio Code cache/options directory
.vscode/
.vs

# Build output
[Bb]in/
[Oo]bj/
[Oo]ut/

# packages
[Pp]ackages/

# dotnet install directory
.dotnet/

# Test files
*.trx

# ImageBuilder directory
.Microsoft.DotNet.ImageBuilder
